# Defines plugins to load

# Define plugin folder
PluginFolder=../_Plugins_

# Define plugins
 Plugin=Plugin_CgProgramManager.dll
 Plugin=Plugin_OctreeSceneManager.dll
 Plugin=Plugin_ParticleFX.dll
 Plugin=Plugin_ParticleFX2.dll
 Plugin=Plugin_Scorpio.dll
 Plugin=RenderSystemDX.dll
# Plugin=RenderSystemGL.dll
